@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login__input {
  @apply bg-orange-500 bg-opacity-5 placeholder:text-blue-700 placeholder:opacity-30 rounded-lg w-full p-5 leading-tight focus:outline-none;
}
